:root {
    --color-body: #545E6A;
    --color-heading: #32373C;
    --color-blue: #027CBA;
    --color-blue-light: #DAECF5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--color-body );
    font-size: 14px;
    font-weight: 500;
}

.wp-admin {
    display: grid;
    grid-template-columns: 160px 1fr;
    min-height: 100vh;
}

.wp-side-bar {
    height: 100%;
    background-color: #23282D;
}

.block-builder {
    display: grid;
    grid-template-columns: 1fr 280px;
    grid-template-rows: 56px 1fr;
}

.header {
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-bottom: 1px solid #e2e4e7;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header-nav {
    height: 100%;
    display: flex;
    align-self: stretch;
}

.header-nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: var( --color-heading );
}

.header-nav-item--active {
    font-weight: 700;
    border-bottom: 3px solid var( --color-blue );
}

.main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.side {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-left: 1px solid #e2e4e7;
}

.fields {
    width: 610px;
    background-color: #F3F3F4;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat( 4, calc( 25% - 15px ) );
    grid-gap: 20px;
}

.field-selector {
    opacity: 0;
    width: 0;
    height: 0;
}

.field-selector:checked + .field-container {
    box-shadow: 0 0 0 2px var( --color-blue );
}

.field-selector:checked + .field-container .field-icon-container {
    background-color: var( --color-blue-light );
}

.field-selector:checked + .field-container .field-icon{
    fill: var( --color-blue );
}

.field {
    position: relative;
    grid-column: 1 / 5;
    height: 40px;
    cursor: w-resize;
}

.field--1\/4 {
    grid-column: span 1;
    cursor: e-resize;
}

.field--1\/2 {
    grid-column: span 2;
    cursor: ew-resize;
}

.field--3\/4 {
    grid-column: span 3;
    cursor: ew-resize;
}

.field::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    width: 20px;
}

.field-container {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding-right: 12px;
    border-radius: 3px;
    overflow: hidden;
}

.field-icon-container {
    flex-shrink: 0;
    height: 40px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E7;
}

.field:hover .field-selector:not(:checked) + .field-container {
    box-shadow: 0 0 0 2px var( --color-blue-light );
}

.field:hover .field-icon-container {
    background-color: var( --color-blue-light );
}

.field-icon-container:hover {
    cursor: grab;
}

.field-icon-container:active {
    cursor: grabbing;
}

.field-icon {
    width: 16px;
    fill: var( --color-body );
}

.field-grab-indicator {
    width: 18px;
    fill: var( --color-blue );
    display: none;
    transform: rotate( 90deg );
}

.field:hover .field-icon {
    fill: var( --color-blue );
}

.field-icon-container:hover .field-icon {
    display: none;
}

.field-icon-container:hover .field-grab-indicator {
    display: block;
}

.field-title {
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-copy-pill {
    position: relative;
    height: 20px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 4px;
    background-color: var( --color-blue-light );
    margin-left: auto;
    border-radius: 3px;
}

.field-copy-pill:hover {
    cursor: pointer;
}

.field-copy-pill span {
    font-family: monospace;
    color: var( --color-blue );
}

.field--1\/4 .field-copy-pill {
    padding-left: 4px;
}

.field--1\/4 .field-copy-pill span {
    display: none;
}

.field--1\/4 .field-copy-pill svg {
    margin-left: 0;
}

.field-copy-pill svg {
    width: 12px;
    fill: var( --color-blue);
    margin-left: 6px;
}

.add-field-container {
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
}

.add-field-container svg {
    fill: var( --color-blue );
    width: 20px;
    margin-right: 4px;
}

.add-field-container button {
    display: flex;
    align-items: center;
    font-size: 13px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: var( --color-blue );
}

.add-field-container button:hover {
    cursor: pointer;
    filter: brightness( 0.8 );
}
