body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input[type="radio"]:checked + div {
    border-color: rgb(0, 124, 186);
}

.inspector {
    width: 280px;
}

.field-resize {
    cursor: col-resize;
}

.block-title-field {
    font-size: 4rem;
}

.repeater-insert-row button {
    display: none;
}

.repeater-insert-row:hover button {
    display: flex;
}

.repeater-row {

}

.repeater-row__move:after {
    content: "";
    display: block;
    position: absolute;
    height: 300%;
    width: 2.5rem;
    top: -.5rem;
    right: -.5rem;
    /* border:1px solid red; */
}

.repeater-row__delete-duplicate,
.repeater-row__move {
    display: none;
}

.repeater-row:hover .repeater-row__delete-duplicate,
.repeater-row:hover .repeater-row__move {
    display: flex;
}

.toggle-field {

}

.toggle-field:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: #000;
    border-radius: 8px;
    top: 2px;
    left: 3px;
}

.toggle-field:checked {
    border-color: #3182ce;
    background-color: #3182ce;
}

.toggle-field:checked:after {
    background-color: #fff;
    left: auto;
    right: 3px;
}

.range-field {

}

.range-field::-webkit-slider-thumb {
    appearance: none;
}

.range-field::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

.range-field::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

.range-field::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

.range-field::-webkit-slider-thumb,
.range-field::-moz-range-thumb,
.range-field::-ms-thumb {
    border: 1px solid #000;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #EDF2F7;
    border-radius: 2x;
  }
  
.range-field:focus::-webkit-slider-runnable-track {
    background: #EDF2F7;
  }
  
.range-field::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #EDF2F7;
    border-radius: 2x;
  }
  
.range-field::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #EDF2F7;
    border-radius: 2x;
    color: transparent;
  }
.range-field::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
.range-field:focus::-ms-fill-lower {
    background: #3071a9;
  }
.range-field::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
.range-field:focus::-ms-fill-upper {
    background: #367ebd;
  }